@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  html, body {
    position: relative;
  }

  .container {
    max-width: 720px;
  }

  .content {
    text-align: center;
  }
  .content__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__img {
    /* height: 180px; */
    width: 90%;
    -ms-grid-column-align: center;
        justify-self: center;
    background-size: 90%;
    background-position: 50% 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contentInfo {
    width: 100%;
    padding-right: unset;
  }
  .contentInfo__text_1::before {
    display: none;
  }
  .contentInfo__title {
    display: none;
  }

  .rout div {
    -ms-flex-preferred-size: unset !important;
        flex-basis: unset !important;
    width: 100%;
  }

  .rout__text.rout--first {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .rout__map.rout--first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .rout__text.rout--second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .rout__map.rout--second {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .rout__text.rout--third {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .rout__map.rout--third {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .rout__text::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  a.menu-link {
    font-size: 15px;
  }

  .rout div {
    padding-bottom: 15px;
    font-size: 0.8em;
  }

  .priceInfo {
    font-size: 0.7em;
    letter-spacing: 1px;
  }
}
@media (max-width: 650px) {
  .price {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  body {
    font-size: 0.8em;
  }

  .header {
    margin-top: 0;
  }

  .headerBackground, .headerBackground::before {
    max-height: 50px;
  }

  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .nav {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 35px;
    margin: 0px;
    background-color: #34495e;
  }

  .navigation-enter {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    opacity: 0;
  }

  li.menu__item {
    width: 100%;
  }
  li.menu__item::after {
    content: none;
  }

  a.menu-link {
    display: block;
    width: 100%;
  }

  .menu__background__mobile {
    display: none;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #34495e;
  }

  #burger__btn {
    display: block;
  }

  .menu-active {
    display: block;
  }

  .callback {
    top: -10px;
  }

  article {
    padding-top: 50px;
  }
  article h1 {
    font-size: 24px;
  }
  article h2 {
    font-size: 18px;
  }

  .contacts {
    padding-top: 50px;
  }
  .contacts h1 {
    font-size: 24px;
  }
  .contacts h2 {
    font-size: 18px;
  }

  .content__img {
    width: 360px;
  }
}
@media (max-width: 420px) {
  .content__img {
    width: 280px;
  }

  .rout__map {
    max-width: 100%;
  }

  .map {
    width: 100%;
    height: auto;
  }

  .priceCard {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
  }
}